.modebar{
    display: none !important;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none; 
}

.Cabecera{
    text-align: center;
    height: 50px;
    padding-top: 20px;
    background-color: #37003c;
    color: white;
}

.grid{
    display: grid;
    grid-template-columns: 50% 50%;
}

@media only screen and (max-width: 1000px) {
    .grid{
        grid-template-columns: 100%;
    }
  }