body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none; 
}

.Cabecera{
    text-align: center;
    height: 50px;
    padding-top: 20px;
    background-color: rgba(241, 147, 23, 0.37);
}

.grid{
    display: grid;
    grid-template-columns: 50% 50%;
}

.custom_tabs{
    height: 50px;
}

.custom-tab {
    border-bottom: '1px solid #d6d6d6';
    padding: '6px';
    font-weight: 'bold';
}
.custom-tab--selected {
    border-Top: '1px solid #d6d6d6';
    border-Bottom: '1px solid #d6d6d6';
    background-Color: '#119DFF';
    color: 'white';
    padding: '6px';
}

@media only screen and (max-width: 800px) {
    .grid{
        grid-template-columns: 100%;
    }
  }